html, body{
    margin: 0;
    height: 100%;
}
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}
.color-red{color: red;}
.sidebar{
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 100vh;
    background-color: #272C4A;  
}
.sidebar div:nth-child(n+1) {
    color: gray;
    padding: 1.3vw 1vw 1.3vw 2vw;
}
.sidebar div:nth-child(n+2){
    display: flex;
    gap: 1vw;
    font-size: 1.5vw;
    padding-left: 2.2vw;
}
.sidebar div:nth-child(2){
    padding-top: 1.5vw;
}
.sidebar div:first-child{
    color: white;
    font-weight: bold;
    font-size: 2.8vw;
}
i {height: 1cap; padding-top: 0.1vh;}

/* NEEDS Hovering over the */
.sidebar div:nth-child(n+1):hover{
  color: white;
  background-color: #1B203D;
}

/* Dashboad (right) HERE <<<<< */
.dashboard{
    display: flex;
    flex-direction: column;
    width: 78vw;
    padding: 1.3vw 1vw 1.3vw 1vw;
    background-color: #1B203D;
    /*  */
}

/* Profile Line */
.profile{
    display: flex;
    color: white;   
    justify-content: space-between;
    padding-left: 2vw;
}
/* Icon + Dashboard */
.profile div:nth-child(1){
    font-size: 2.5vw;
    display: flex;
    gap: 1vw;
}
/* Profile image */
img{
    width: 3vw;
    height: 3vw;
    border-radius: 3vw;
}
/* Profile Desciption */
.profile div:last-child {
    align-items: center;
    display: flex;
}
.profile div:last-child div:last-child {
    flex-direction: column;
    align-items: start;
    width: 10vw;
    padding-left: 1vw;
}
.profile div:last-child div:last-child p {
    margin: 0;
    font-size: 1vw;
    color: grey;
}
.profile div:last-child div:last-child p:first-child {
    color: white;
    font-weight: bold;
}

/* number line <<< */
.numline{
    margin: 2vh;
    color: grey;
    display: flex;
    gap: 1.5vw;
    /*  */
}
/* number line boxes */
.numline div:nth-child(n){
    background-color: #272C4A;
    display: flex;
    flex: 1;
    font-size: 1.5vw;
    justify-content: space-between;
    align-items: center;
    margin: 5vw 0vw 2vw 0vw;
    padding: 0.5vw;
}
/* number line boxes numbers white */
.numline div:nth-child(n) p span{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 2.5vw;
    font-weight: bold;
    padding-bottom: 1vh;
}
/* number line boxes icons */
.numline div:nth-child(n) i{
    font-size: 3.5vw;
    padding-top: 0;
}

/* Top and Total */
.topntotal{
  display: flex;
  margin: 2vh;
  gap: 1.5vw;
  /*  */
}
.top{
  background-color: #272C4A;
  padding: 1.3vw 1vw 1.3vw 1vw;
}
.top div:first-child{
  display: flex;
  justify-content: space-between;
  font-size: 1.5vw;
}
/* see all */
.top div:first-child div:last-child{
  background-color: white;
  width: 6vw;
  text-align: center;
  align-self: center;
  font-size: 1.5vw;
}
table{
  color: white;
  text-align: left;
  font-size: 1vw;
  width: 50vw;
  border-collapse: collapse;
  margin-top: 2vw;
}
td, th{
  padding: 1.2vw;
  border-bottom: 0.1vh solid rgba(255, 255, 255, 0.1);
}

/* Total */
.total{
  width: 90vw;
  height: fit-content;
  background-color: #272C4A;
  padding: 1.3vw 1vw 1.3vw 1vw;
}
/* Total Line */
.total div:first-child {
  display: flex;
  justify-content: space-between;
  font-size: 1.5vw;
}
/* Sell All Box */
.total div div:nth-child(2) {
  background-color: white;
  width: 6vw;
  text-align: center;
  align-self: center;
  font-size: 1.5vw;
}

/* Circle Percentage Below */
.flex-wrapper {
    display: flex;
    flex-flow: row nowrap;
  }
  .single-chart {
    width: 20vw;
    justify-content: space-around ;
  }
  .circular-chart {
    display: block;
    margin: 4vw auto;
    max-width: 14vw;
    max-height: 23vh;
  }
  .circle-bg {
    fill: white;
    stroke: #eee;
    stroke-width: 2.8;
  }
  .circle {
    fill: none;
    stroke-width: 2.8;
    /* stroke-linecap: round; */
    color: red;
    animation: progress 0.8s ease-out forwards;
  }
  @keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
  }
  .circular-chart.red .circle {
    stroke: red;
  }
  .percentage {
    fill: black;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 0.4em;
    text-anchor: middle;
  }